@model Teamwork_Hackathon.Areas.Admin.Models.UserListDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<table class="table table-responsive table-hover table-striped">
    <tbody>
@foreach (var item in Model.Users) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.ProfileImage)" class="img-circle" style="height: 40px;" />
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>

    </tr>
}
    </tbody>
</table>
