@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Go Away!";
    Layout = "";
}


<div class="row">
    <div class="col-lg-12 text-center">
        <img src="https://i.stack.imgur.com/2BvbQ.jpg" />
    </div>
</div>
